@font-face {
  font-family: Merriweather;
  src: url(../../public/fonts/Merriweather-Regular.ttf);
}

$primaryColor: rgb(123, 14, 14);
$secondaryColor: rgb(255, 196, 0);
$light: #fff;
$dark: #000;

$primaryFont: Merriweather;
