@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryFont;
  transition: 0.5s;
}

body {
  background: linear-gradient(120deg, $primaryColor 55%, $secondaryColor);
  background-attachment: fixed;
}

button {
  cursor: pointer;
}

nav {
  background-color: transparent;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;

  .logo {
    display: table;
    img {
      width: 150px;
      height: 50px;
      scale: 1.5;
      object-fit: cover;
    }
  }

  span {
    color: #ffa200;
    font-weight: 600;
    font-size: 18px;
    margin-right: 1rem;
    padding: 0.4rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
}

.notification-container {
  display: flex;
  justify-content: center;
  transition: 0s;
}
.notification-container .notification {
  background-color: #ffa200;
  width: 400px;
  height: auto;
  padding: 1rem;
  margin: 0 1rem;
  position: fixed;
  top: 0;
  display: flex;
  font-weight: 600;
  align-items: center;
  box-shadow: 0px 8px 24px rgba(221, 221, 221, 0.177);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.5s;
  z-index: 9;
}
.notification-container .down {
  transform: translateY(0);
}
.notification-container .up {
  transform: translateY(-150%);
}

.home-container {
  height: 100vh;
  width: 100%;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    margin-top: 5rem;

    .banner {
      padding: 2rem;
      height: 500px;
      width: 100%;
      display: grid;
      place-items: center;

      p {
        color: $light;
        font-size: 80px;
        font-weight: 700;
        font-family: $primaryFont;
      }
      .follow {
        width: 100%;
        display: flex;
        justify-content: left;
        span {
          color: $light;
          border: 3px solid $light;
          border-radius: 30px;
          display: flex;
          align-items: center;
          padding: 1rem;
          text-align: left;

          a {
            color: $light;
            text-decoration: none;
          }
        }
      }
    }

    .chat-box.fixed-height {
      height: 150px;
    }
    .chat-box {
      position: relative;
      width: 95%;
      height: auto;
      background-color: $light;
      margin: 1rem;
      margin-top: 20rem;
      border-radius: 20px;
      padding: 1rem;
      display: block;
      justify-content: center;

      .header {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        img {
          width: 80px;
          height: 20px;
          scale: 1.5;
          object-fit: cover;
          margin: 0;
        }
      }

      .chat {
        width: 90%;
        margin: 1rem 0.5rem;
        p {
          background-color: $primaryColor;
          color: $light;
          font-size: large;
          // font-weight: 600;
          display: table;
          width: 100%;
          max-width: 500px;
          word-break: wrap;
          padding: 1rem;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }

      .footer {
        width: 100%;
        display: flex;
        justify-content: center;
        .inp-holder {
          width: 47%;
          display: flex;
          align-items: center;
          border-radius: 50px;
          box-shadow: 0px 8px 24px rgb(218, 217, 217);
          height: 80px;
          padding: 0 1rem;
          transition: 0.5s;

          img {
            width: 45px;
            height: 45px;
            object-fit: cover;
            border-radius: 50%;
            // background-color: $primaryColor;
          }
          .input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;

            input {
              width: 100%;
              font-size: large;
              border: 0;
              outline: 0;
              margin: 1rem;
              padding: 1rem 0;
              font-family: $primaryFont;
              background-color: transparent;
            }
            button {
              background-color: transparent;
              color: $primaryColor;
              font-size: 25px;
              border: 0;
              outline: 0;
            }
          }
        }
        .inp-holder.wide {
          width: 90%;
        }
      }
    }
  }
}

.inbox-main {
  display: grid;
  place-items: center;
  h2 {
    color: $light;
    margin: 0;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    color: #ffa200;
  }
  .inbox-container {
    // height: 80vh;
    background-color: $primaryColor;
    width: 60%;
    padding: 1rem;
    border-radius: 10px;
    // overflow-y: scroll;

    .inbox {
      background-color: #ffa200;
      // box-shadow: 0px 8px 24px rgb(218, 217, 217);
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 10px;

      small {
        color: $primaryColor;
        font-weight: 600;
        margin-bottom: 0.5rem;
        display: table;
      }

      .btn-holder {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-top: 0.5rem;

        button {
          color: $primaryColor;
          background-color: transparent;
          font-size: 10px;
          font-weight: 600;
          border: 2px solid $primaryColor;
          padding: 0.3rem;
        }
      }
    }
  }
}

.signin-container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;

  .container {
    height: 400px;
    width: 100%;
    display: grid;
    place-items: center;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }

    form {
      width: 100%;
      display: grid;
      place-items: center;

      .inp-holder {
        background-color: $light;
        width: 90%;
        max-width: 400px;
        padding: 1rem;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;

        input {
          background-color: transparent;
          border: 0;
          outline: 0;
          font-size: 20px;
          font-weight: 600;
          width: 90%;
        }
        button {
          background-color: $primaryColor;
          font-size: 20px;
          font-weight: 600;
          padding: 0.3rem 0.6rem;
          color: $light;
          border-radius: 4px;
        }
      }
      span {
        color: $light;
        margin-top: 1rem;
      }
    }
  }
}

.secret-room-container {
  background-color: $primaryColor;
  height: 100vh;
  width: 100%;

  .item-box-container {
    display: grid;
    place-items: center;
    height: 90vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    .item-box {
      height: 80vh;
      width: 70%;
      background-color: #ffa200;
      border-radius: 25px;
      margin: 1rem 0 1rem;
      padding: 1rem;
      scroll-snap-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .item {
        position: relative;
        border-right: 1px solid black;

        .header {
          margin-bottom: 1rem;
          display: flex;
          align-items: center;

          img {
            border-radius: 50%;
            margin-right: 0.5rem;
          }
        }

        .msg {
          height: 68vh;
          display: grid;
          place-items: center;
        }

        span.comments {
          position: absolute;
          bottom: 1rem;
          right: 1rem;
        }
        span.comments:hover {
          text-decoration: underline;
        }
      }

      .comments-container {
        padding-left: 1rem;
        position: relative;

        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .comments {
          height: 57vh;
          margin: 2rem 0;
          overflow-y: scroll;

          .comment {
            background-color: $primaryColor;
            color: $light;
            display: table;
            margin: 1rem 0;
            padding: 1rem;
            border-radius: 10px;
          }
        }

        .comment-form-container {
          display: grid;
          place-items: center;

          .comment-form {
            position: absolute;
            bottom: 1rem;
            display: flex;
            align-items: center;
            background-color: $light;
            width: 50%;
            padding: 0.5rem;
            border-radius: 20px;

            img {
              height: 30px;
              width: 30px;
              border-radius: 50%;
              margin-right: 0.5rem;
            }

            form {
              display: flex;
              width: 100%;
              justify-content: space-between;

              input {
                width: 90%;
                padding: 0.5rem;
                border: 0;
                padding: 0.5rem;
                outline: 0;
                background-color: transparent;
              }

              button {
                padding: 0.5rem;
                border: none;
                outline: none;
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}
