@font-face {
  font-family: Merriweather;
  src: url(../../public/fonts/Poppins-Regular.ttf);
}

$primaryColor: #4b0505;
$primaryColorTransparent: #4b0505f7;
$secondaryColor: #fca203;
$secondaryColor2: #feca62;
$secondaryColor3: #feca62;
$light: #f5f5f5;
$dark: #000;
$primaryFont: Merriweather;
