@font-face {
  font-family: Merriweather;
  src: url(../../public/fonts/Poppins-Regular.ttf);
}

$primaryColor: #4b0505;
$primaryColor2: #641b02;
$secondaryColor: #fca203;
$secondaryColor2: #f8a10b;
$secondaryColor3: #fba02a;
$light: #f5f5f5;
$dark: #000;
$primaryFont: Merriweather;
$notificationBgColor: #f8a10b; // Added variable
